@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --tooltip-bg: white;
  --tooltip-border: #e5e7eb;
}

.dark {
  --tooltip-bg: #0c0c10;
  --tooltip-border: #1a1a1f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body.dark {
  background-color: #09090d;
}

#root {
  min-height: 100vh;
}
